.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.item:not(:last-child) {
  margin-bottom: 20px;
}

p {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}
